---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "font"
;

$header-height: 60px;
$header-brand-font-size: 40px;
$header-font-size: 14px;
$header-menu-font-size: 21px;
$header-background-color: #111;
$header-color: #fff;
$header-active-color: #aaa;
$header-mobile-width: 640px;
$header-expaned-menu-element-height: 30px;

$highlight-color: #c1a01b;

$font-montserrat: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

a {
  text-decoration: none;
  color: inherit;
}

@mixin header-element {
  height: $header-height;
  line-height: $header-height;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $header-background-color;
  color: $header-color;
  text-transform: uppercase;
  font-family: $font-montserrat;
  font-size: $header-font-size;
  letter-spacing: 1px;
  nav {
    margin: 0 auto;
    #brand {
      @include header-element;
      padding: 0 10px;
      float: left;
      font-size: $header-brand-font-size;
    }
    // javascript-free menu toggle
    label {
      @include header-element;
      display: none;
      float: right;
      font-size: $header-menu-font-size;
      margin: 0 15px;
      cursor: pointer;
      @media (max-width: $header-mobile-width) {
        display: block;
      }
      &:hover {
        color: $header-active-color;
        &.inactive {
          color: $header-color;
        }
      }
    }
    #menu-toggle {
      display: none;
    }
    @media (max-width: $header-mobile-width) {
      #menu-toggle:checked + #nav {
        display: block;
      }
    }
    #nav {
      a:hover {
        color: $header-active-color;
      }
      .active {
        color: $header-active-color;
      }
      padding: 0 15px;
      overflow: hidden;
      li {
        @include header-element;
        display: inline-block;
      }
      #links {
        float: left;
        li {
          margin-right: 10px;
        }
      }
      #lang {
        float: right;
        li {
          margin-left: 5px;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      @media (max-width: $header-mobile-width) {
        overflow: visible;
        display: none;
        position: fixed;
        top: $header-height;
        left: 0;
        right: 0;
        background-color: $header-background-color;
      }
      @media (max-width: 430px) {
        padding-top: $header-expaned-menu-element-height/2;
        padding-bottom: $header-expaned-menu-element-height/2;
        li {
          display: block;
          line-height: $header-expaned-menu-element-height;
          height: $header-expaned-menu-element-height;
        }
      }
    }
  }
}

html, body {
  height: 100%;
}
body {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  section:first-of-type {
    // this may cause troubles. replace with padding if something weird happens.
    margin-top: $header-height;
  }
}

section {
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 100px;
  a {
    transition: all .2s ease-in-out;
    color: $highlight-color;
    &:hover {
      color: darken($highlight-color, 10%);
    }
  }
  h1 {
    font-family: $font-montserrat;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 20px;
    color: #646464;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 50px;
  }
  p {
    font-size: 20px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 35px;
  }
}

section.intro {
  font-size: 20px;
  color: #fff;
  display: table;
  width: 100%;
  min-height: 280px;
  height: 50%;
  background-color: grey;
  background-image: url("../img/dark-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
  > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 15px;
    img {
      margin: auto;
      display: block;
      width: 500px;
      max-width: 100%;
    }
    div {
      margin-top: 35px;
    }
  }
}

footer {
  margin: 0 15px;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  text-align: center;
  div {
    padding: 10px 0;
    font-size: 12px;
    span {
      color: #fff;
      .fa-circle {
        transition: all .2s ease-in-out;
        color: $highlight-color;
      }
    }
    a:hover span .fa-circle {
      color: darken($highlight-color, 10%);
    }
  }
}
