---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "font"
;

$header-height: 60px;
$header-brand-font-size: 40px;
$header-font-size: 14px;
$header-menu-font-size: 22px;
$header-background-color: #222;
$header-color: #fff;
$header-active-color: #aaa;
$header-mobile-width: 640px;
$header-expaned-menu-element-height: 30px;

$font-montserrat: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin justify-all($font-size) {
  text-align: justify;
  font-size: 0;
  > * {
    font-size: $font-size;
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

@mixin header-element {
  height: $header-height;
  line-height: $header-height;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $header-background-color;
  color: $header-color;
  text-transform: uppercase;
  font-family: $font-montserrat;
  font-size: $header-font-size;
  letter-spacing: 1px;
  nav {
    margin: 0 auto;
    #brand {
      @include header-element;
      padding: 0 10px;
      float: left;
      font-size: $header-brand-font-size;
    }
    // javascript-free menu toggle
    label {
      @include header-element;
      display: none;
      float: right;
      font-size: $header-menu-font-size;
      margin: 0 15px;
      cursor: pointer;
      @media (max-width: $header-mobile-width) {
        display: block;
      }
    }
    #menu-toggle {
      display: none;
    }
    @media (max-width: $header-mobile-width) {
      #menu-toggle:checked + #nav {
        display: block;
      }
    }
    #nav {
      a:hover {
        color: $header-active-color;
      }
      .active {
        color: $header-active-color;
      }
      padding: 0 15px;
      overflow: hidden;
      li {
        @include header-element;
        display: inline-block;
      }
      #links {
        float: left;
        li {
          margin-right: 10px;
        }
      }
      #lang {
        float: right;
        li {
          margin-left: 5px;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      @media (max-width: $header-mobile-width) {
        overflow: visible;
        display: none;
        position: fixed;
        top: $header-height;
        left: 0;
        right: 0;
        background-color: $header-background-color;
      }
      @media (max-width: 430px) {
        padding-top: $header-expaned-menu-element-height/2;
        padding-bottom: $header-expaned-menu-element-height/2;
        li {
          display: block;
          line-height: $header-expaned-menu-element-height;
          height: $header-expaned-menu-element-height;
        }
      }
    }
  }
}

body {
  section:first-of-type {
    margin-top: $header-height;
  }
}
