<footer>
  <div class="aaa">
    <img alt="AAA Creditworthiness" src="/img/aaa-logo-2016-{{ page.lang }}.png">
  </div>
  <div>
    <a href="https://www.facebook.com/Donier-Gastronomie-534341646697189">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://www.instagram.com/doniergastronomie/">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x"></i>
      </span>
    </a>
  </div>
  <div>Copyright &copy; Donier Gastronomie 2016</div>
</footer>
